<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-center">Transacciones</h1>
        <%= link_to 'Crear transaccion', new_transaktion_path, class: 'btn btn-primary float-right' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table" id="transaktions-datatable" data-source="<%= transaktions_path(format: :json) %>">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Estado</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  new TransaktionTable();
</script>
