<div class="row nested-fields">
  <div class="col-6">
    <div class="form-group">
      <%= f.collection_select(:product_id, @products, :id, :name, { prompt: "Productos" }, { class: 'form-control', required: true}) %>
    </div>
  </div>
  <div class="col-5">
    <div class="form-group">
      <%= f.number_field :quantity, class: 'form-control', placeholder: 'Cantidad del producto', required: true %>
    </div>
  </div>
  <div class="col-1">
    <%= link_to_remove_association '<i class="fas fa-minus"></i>'.html_safe, f %>
  </div>
</div>
