<div class="boards">
  <div class="row">
    <div class="col-1">
      <div class="info">
        <h5 class="text-center"><strong>Acciones</strong></h5>
        <ul>
          <li>Puedes arrastrar las mesas</li>
          <li>Puedes ajustar las dimensiones de la mesa</li>
          <li>Doble click en la mesa para editar</li>
        </ul>
      </div>
    </div>
    <div class="col-11">
      <div class="dropzone" id="dropzone">
        <%= render @boards %>
      </div>
    </div>
  </div>
</div>

<div class="modal-window"></div>

<script type="text/javascript">
  new DragAndDrop();
  new EditBoard();
</script>
