<div class="boards">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="info">
          <h5 class="text-center"><strong>Acciones</strong></h5>
          <ul>
            <li>Puedes arrastrar las mesas</li>
            <li>Puedes ajustar las dimensiones de la mesa</li>
            <li>Doble click en la mesa para editar</li>
          </ul>
        </div>
      </div>
      <div class="col-10">
        <div class="dropzone" id="dropzone">
          <%= render @boards %>
        </div>
      </div>
    </div>
  <div class="modal-window"></div>
  </div>
</div>

<script type="text/javascript">
  new DragAndDrop();
  new EditBoard();
</script>
