// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.employees {
  select.form-control {
    width: 23%;
    display: inline-flex;
  }

  .date-picker {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .role-select > label {
    padding-right: 10px;
  }
}
