<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-center">Categorías</h1>
        <%= link_to 'Crear Categoría', new_category_path, class: 'btn btn-primary float-right' %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Productos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% if @categories.empty? %>
            <tr><td class='text-center'>No hay categorias creadas aun</td></tr>
          <% else %>
            <%= render @categories %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
